<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <img src="{% static "knowvibanner.png" %}" alt="Knowvi banner" />
        <title>Knowvi</title>
    </head>

    <body>
        {% if category %}
        <h1>{{ category_name }}</h1>
            {% if pages %}
            <h2>Top 5 pages ranked by views</h2>
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a>
                [{{ page.views }}]</li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No pages currently in category.</strong>
            {% endif %}

            <br><a href="/knowvi/category/{{category_name_url}}/add_page/">Add a New Page</a><br />
        {% else %}
        <br />
            The specified category {{ category_name }} does not exist!
        {% endif %}
        
        <br><a href="/knowvi/">Return to Index</a><br />
    </body>

</html>
