{% extends 'knowvi/base.html' %}

{% block title %}Submit{% endblock %}

{% block body_block %}

<div class="jumbotron">
    <div class="container">
        <div class="col-lg-7 col-lg-offset-3">

            <h1 class="text-center">Contact Us</h1>

            {% if form.errors %}
                <p style="color: red;">
                    Please correct the error{{ form.errors|pluralize }} below.
                </p>
            {% endif %}

            <form class="text-center" id="contact_form" method="post" action="/knowvi/contact/">
                {% csrf_token %}

                <div class="field">
                    <label for="id_subject">Subject (required):</label>
                    {{ form.subject }}
                    {{ form.subject.errors }}
                </div>

                <div class="field">
                    <label for="id_email">&nbsp;&nbsp;E-mail (optional):</label>
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>

                <div class="field">
                    <label for="id_message">Message:</label>
                    {{ form.message.errors }}
                    <p>{{ form.message }}</p>
                </div>

                <button class="btn btn-primary" type="submit">Submit</button>
            </form>


        </div> <!-- col-lg-6 -->
    </div>
</div>

{% endblock %}
