{% extends 'knowvi/base.html' %}

{% block body_block %}

<div class="jumbotron">
    <h1>Welcome to Knowvi</h1>
    <p>A collection of informative, interesting, and obscure links.</p>
</div>

<div class="row">

    <div class="col-xs-6">
        <h2 class="sub-header">Newly Added Categories</h2>
        <ul>
            <li><a href="/knowvi/category/Collections/"
                >Collections</a></li>
            <li><a href="/knowvi/category/Computer_Science/"
                >Computer Science</a></li>
            <li><a href="/knowvi/category/Dictionary/"
                >Dictionary</a></li>
            <li><a href="/knowvi/category/Literacy/"
                >Literacy</a></li>
            <li><a href="/knowvi/category/Languages/"
                >Languages</a></li>
        </ul>
    </div>

    <div class="col-xs-5">
        <h2 class="sub-header">Top Five Pages</h2>
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li><a href="{{ page.url}}">{{ page.title }}</a>
            - {{ page.category }} ({{ page.views }} view(s))</li>
            {% endfor %}
        </ul> 
        {% else %}
        <strong>No pages at present.</strong>
        {% endif %}
    </div>
</div>

{% endblock %}
