{% extends 'knowvi/base.html' %}

{% block body_block %}

<div class="jumbotron">
    <h1>Welcome to Knowvi</h1>
    <p>A collection of informative, interesting, and obscure links.</p>
</div>

<div class="row">

    <div class="col-xs-5">
        <h2 class="sub-header">Top Five Categories</h2>
        {% if categories %}
        <ul>
            {% for category in categories %}
            <li><a href="/knowvi/category/{{ category.url }}"
                >{{ category.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No categories at present.</strong>
        {% endif %}
    </div>

    <div class="col-xs-5">
        <h2 class="sub-header">Top Five Pages</h2>
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li><a href="{{ page.url}}">{{ page.title }}</a>
            - {{ page.category }} ({{ page.views }} view(s))</li>
            {% endfor %}
        </ul> 
        {% else %}
        <strong>No pages at present.</strong>
        {% endif %}
    </div>
</div>

{% endblock %}
