{% extends 'knowvi/base.html' %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
    {% if user.is_authenticated %}
        <h1>Knowvi says... hello {{ user.username }}!</h1>
    {% else %}
        <h1>Knowvi says... hello world!</h1>
    {% endif %}

        <h2>Top Five Categories ranked by likes</h2>
    {% if categories %}
        <ul>
        {% for category in categories %}
            <li><a href="/knowvi/category/{{ category.url }}"
                 >{{ category.name }}</a> [{{ category.likes }}]</li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}

{% endblock %}
