{% extends 'knowvi/base.html' %}

{% block title %}Search{% endblock %}

{% block body_block %}
<div class="jumbotron">
    <h1 class="page-header">Search</h1>
    <br />

    <div class="container">
        Search terms here?
        {% if query_string %}
        Yes to query_string
        <div style="clear: both;">
            <ol>
            {% for query in query_string %}
                <li>
                {{ query }}
                </li>
            {% endfor %}
            </ol>
        </div>
        {% endif %}
    </div> <!-- container -->

</div>

{% endblock %}
